.intro
  .row
    .large-8.large-offset-2.columns
      =image_tag 'IMG_8908.JPG'
      %h1 Hello World
      %h5 I am a budding web developer in the middle of a coding bootcamp. With skills in Ruby, JavaScript, Test Driven Development and Agile methods I will be ready to take on the world as a junior web developmet.




  -# - data.projects.each do |project|
  -#   %h4
  -#     = project[:name]
  -#   %p
  -#     = project[:description]


  -# %a{href: '/projects'} Projects
  -# = link_to 'Project', /projects,
