.main_container
  .row
    .large-8.large-offset-2.medium-8.medium-offset-2.columns
      .intro_main
        .img_main
          =image_tag 'IMG_8908.JPG'
        .intro
          %h1 Hello World
          %h5
            I am a budding web developer and a recent graduate of a coding bootcamp. With skills in Ruby, Ruby on Rails,
            JavaScript, Test Driven Development and Agile methods I am ready to take on the world as a junior web developer.