.main_container
  .row
    .large-8.large-offset-2.medium-8.medium-offset-2.columns
      .intro_main{style:'box-shadow: 3px 3px 5px 5px grey; padding: 5px;'}
        .large-4.columns
          .img_main
            =image_tag 'profile_pic.jpg',{style: 'width: 200px;'}
        .large-8.columns
          .intro
            - CA = link_to 'Craft Academy', 'https://craftacademy.se/'
            - GH = link_to 'GitHub', 'https://github.com/MikaelFeher'
            %h1 Hello World
            %br
            - if I18n.locale == :en
              %p As a recent graduate of #{CA}s coding bootcamp I am now ready to take on the world as a junior developer. My skill set is based in Ruby and Ruby on Rails. My development approach is test driven and Agile and version controlling through Git/#{GH} is as natural as breathing.
            - else
              %p Efter att ha deltagit i #{CA}s programmerings-bootcamp är jag redo för nya utmaningar som junior webbutvecklare. Jag är främst Ruby och Ruby on Rails utvecklare med bas i testdriven utveckling och agila metoder. Versionkontroll genom Git/#{GH} är lika naturligt för mig som att andas.
